<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Нейросеть для предсказания футбольных матчей</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<header>
  <div class="menu-button">☰</div>
  <ul>
    <li><a href="#main">Главная</a></li>
    <li><a href="#about-project">О проекте</a></li>
    <li><a href="#about-us">О нас</a></li>
    <li><a href="#how-it-work">Как это работает?</a></li>
    <li><a href="#try">Попробовать</a></li>
    <li><a href="#donation">Пожертвования</a></li>
  </ul>
</header>
<body>

  <section class="hero" id="main">
    <h1>Нейросеть по предсказанию футбольных матчей</h1>
    <div class="try-button">
      <a href="#try">Попробовать ИИ</a></li>
    </div>
    <img src="/static/images/ball.webp" class="ball">
  </section>

  <div class="horizontal-line-black"></div>

  <section class="content content-1" id="about-project">
    <h2>О проекте</h2>
    <div class="image-text">
      <img src="/static/images/logo.png" class="logo">
      <div class="text-about">
        <div class="border-box-animated" style="margin-bottom: 30px;">
          <p>Добро пожаловать на сайт нейросети, разработанной для предсказания результатов спортивных матчей! Наша система использует самые современные алгоритмы машинного обучения и анализ больших данных, чтобы обеспечить точные и надежные прогнозы для любителей спорта и беттинга.</p>
        </div>
        <div class="border-box-animated">
          <p>Проект создан разработчиками Власюком Данилом и Беспалым Максимом, которые объединили свои знания и опыт, чтобы сделать спортивные предсказания доступными для каждого.</p>
        </div>
      </div>
    </div>  
  </section>

  <div class="horizontal-line-black"></div>

  <section class="content content-2" id="about-us">
    <h2>Кто мы?</h2>
    <div class="who">
      <div class="developer border-box">
        <div class="developer-and-qr">
          <h1>Беспалый Максим</h1>
          <p>Frontend, дизайн, backend, API, разработка и обучение модели, docker, деплой проекта, дебагинг</p>
          <img src="/static/images/kxwarvt.jpg" class="qr">
        </div>
      </div>
      <div class="developer border-box">
        <div class="developer-and-qr">
          <h1>Власюк Данил</h1>
          <p>Backend, дизайн, разработка и обучение модели, деплой проекта, сбор и анализ данных</p>
          <img src="/static/images/taobaogoat.jpg" class="qr">
        </div>
      </div>
    </div>
    <div class="technologys">
      <div class="border-box box-technology">
        <h1>Какие технологии мы использовали?</h1>
        <h1 style="font-size: 14px;">При нажатии подробнее о технологиях</h1>
        <div class="technologys">
          <div class="border-box-technology">
            <div class="technology" data-text="Язык был взят в качестве основного при разработке нейросети и backend'a.">
              <img src="/static/images/python.png" class="logo-technology">
              <p>Python</p>
              <p class="p-arrow">⯆</p>
            </div>
          </div>
          <div class="border-box-technology">
            <div class="technology" data-text="Язык разметки для создания 'скелета' сайта.">
              <img src="/static/images/html5.png" class="logo-technology">
              <p>HTML5</p>
              <p class="p-arrow">⯆</p>
            </div>
          </div>
          <div class="border-box-technology">
            <div class="technology" data-text="Использован для стилизации контента на странице.">
              <img src="/static/images/css.png" class="logo-technology">
              <p>CSS</p>
              <p class="p-arrow">⯆</p>
            </div>
          </div>
          <div class="border-box-technology">
            <div class="technology" data-text="Этот язык помог реализовать скрипты анимаций, компоненты и API">
              <img src="/static/images/js.png" class="logo-technology">
              <p>JavaScript</p>
              <p class="p-arrow">⯆</p>
            </div>
          </div>
          <div class="border-box-technology">
            <div class="technology" data-text="Технология docker позволила завернуть проект в 'контейнер', что послужило развёртыванию его на сервере.">
              <img src="/static/images/docker.png" class="logo-technology">
              <p>Docker</p>
              <p class="p-arrow">⯆</p>
            </div>
          </div>
          <div class="border-box-technology">
            <div class="technology" data-text="Сервис системы контроля версий предоставил возможность выложить проект в сеть с последующим деплоем на сервер.">
              <img src="/static/images/github.png" class="logo-technology">
              <p>GitHub</p>
              <p class="p-arrow">⯆</p>
            </div>
          </div>
        </div>
        <div class="libraries">
          <div class="technologys">
            <div class="border-box-technology">
              <div class="technology" data-text="Библиотека NumPy была использована для работы с многомерными массивами и математическими функциями.">
                <img src="/static/images/numpy.svg" class="logo-technology">
                <p>NumPy</p>
                <p class="p-arrow">⯆</p>
              </div>
            </div>
            <div class="border-box-technology">
              <div class="technology" data-text="Библиотека Pandas использовалась для обработки и анализа данных, простой организации структурированных данных.">
                <img src="/static/images/pandas.svg" class="logo-technology">
                <p>Pandas</p>
                <p class="p-arrow">⯆</p>
              </div>
            </div>
            <div class="border-box-technology">
              <div class="technology" data-text="Мы использовали TensorFlow как основу для создания и обучения нашей нейронной сети. Эта библиотека предоставляла инструменты для определения архитектуры модели, оптимизации параметров и оценки производительности.">
                <img src="/static/images/tensorflow.svg" class="logo-technology">
                <p>Tensorflow</p>
                <p class="p-arrow">⯆</p>
              </div>
            </div>
            <div class="border-box-technology">
              <div class="technology" data-text="Keras выступал в качестве высокоуровневого API над TensorFlow, упрощая процесс построения и обучения нейронных сетей. Мы использовали Keras для определения слоев модели, активационных функций, функции потерь и оптимизатора.">
                <img src="/static/images/keras.png" class="logo-technology">
                <p>Keras</p>
                <p class="p-arrow">⯆</p>
              </div>
            </div>
            <div class="border-box-technology">
              <div class="technology" data-text="Scikit-learn применялся для предобработки данных перед их передачей в нейронную сеть. Мы использовали StandardScaler для масштабирования числовых признаков и PCA для уменьшения размерности данных, что повысило эффективность обучения модели. Scikit-learn также обеспечил инструменты для импутации пропущенных значений и разбиения на обучающую и тестовую выборки.">
                <img src="/static/images/scikit-learn.png" class="logo-technology">
                <p>Scikit-learn</p>
                <p class="p-arrow">⯆</p>
              </div>
            </div>
            <div class="border-box-technology">
              <div class="technology" data-text="Flask обеспечил необходимую инфраструктуру для взаимодействия пользователя с обученной моделью через веб-интерфейс, а также позволил пользователю отправлять запросы на предсказание. Мы использовали Flask для определения API-эндопоинта, обработки POST-запросов с данными от пользователя и возврата результатов предсказаний в формате JSON.">
                <img src="/static/images/flask.png" class="logo-technology">
                <p>Flask</p>
                <p class="p-arrow">⯆</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="horizontal-line-black"></div>

  <section class="content content-3" id="how-it-work">
    <h2>Как это работает?</h2>
    <div class="diagram-text">
      <div class="border-box-diagram" style="align-items: center;">
        <p>Railway</p>
        <div class="border-box-diagram">
          <p>Docker</p>
          <div class="border-box-diagram">
            <p>GitHub</p>
            <div class="border-box-diagram">
              <p>Frontend</p>
              <div class="arrows">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                </svg>
              </div>
              <p>API</p>
              <div class="arrows">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                </svg>
              </div>
              <p>Backend</p>
              <div class="arrows">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                </svg>
              </div>
              <p>AI model</p>
            </div>
          </div>
        </div>
      </div>
      <div class="border-box">
        <p>-> Пользователь вводит id двух команд, которые можно посмотреть в выпадающем списке</p>
        <p>-> Скрипт JavaScript обращается к Flask</p>
        <p>-> Backend обращается к модели искусственного интеллекта</p>
        <p>-> Происходит обратный процесс и пользователь видит результат предсказания</p>
      </div>
    </div>
  </section>

  <div class="horizontal-line-black"></div>

  <section class="content content-4" id="try">
    <h2>Попробовать ИИ</h2>
    <div class="select-container">
      <div class="custom-select">
          <div class="select-item">Список команд</div>
          <div class="options-container">
            <div class="option" data-value="" style="display: none;">Список команд</div>
          </div>
      </div>
    </div>
    <form id="predictionForm" method="POST" action="/predict" class="form-prediction">
      <div class="input-1">
          <label for="team1Id" class="label-1">
            <p style="font-size: 16px;">ID первой команды:</p>
          </label>
          <input id="team1Id" name="team1Id" required><br><br>
      </div>
      <img src="/static/images/premier league.png" class="premier-league-logo">
      <div class="input-2">
          <label for="team2Id" class="label-2">
            <p style="font-size: 16px;">ID второй команды:</p>
          </label>
          <input id="team2Id" name="team2Id" required><br><br>
      </div>
    </form>
    <div class="button-container">
      <button onclick="predictMatch()" class="button-predict">Предсказание</button>
    </div>
    <div id="result" class="result"></div>
  </section>

  <section class="content-5" id="donation">
    <div class="donat">
      <h1>Донат: </h1>
      <p>UQD4x00bCp56I0AH4ZE-Cm88Iea0m8oqvc3A2HPrAGLj9iWf (TON)</p>
      <p>TQHfJ3Kc7rZ1txgU3rTj1E3U67pK8XD92T (USDT TRC-20)</p>
      <p>2200 7010 1999 4547 (T-Bank)</p>
    </div>
  </section>

  <script src="/static/scripts/animations/animated-header.js"></script>
  <script src="/static/scripts/animations/animated-ball.js"></script>
  <script src="/static/scripts/animations/animated-diagram.js"></script>
  <script src="/static/scripts/animations/animated-form.js"></script>
  <script src="/static/scripts/animations/animated-boxs.js"></script>
  <script src="/static/scripts/animations/animated-box.js"></script>
  <script src="/static/scripts/components/drop-down-description.js"></script>
  <script src="/static/scripts/components/options.js"></script>
  <script src="/static/scripts/API/api.js"></script>
  <script src="/static/scripts/animations/animated-button.js"></script>
  <script src="/static/scripts/animations/smooth-transition.js"></script>
</body>
</html>